{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "amd": true
  },
  plugins: ["vue"],
  "rules": {
    "strict": 0,
    "no-console": 0,
    "no-debugger": 0,
    'vue/jsx-uses-vars': 0
  }
}