body {
    margin: 50px auto;
    padding: 0 20px;
    font-size: 14px!important;
    display: flex;
    flex-direction: column;
}

.example {
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: green;
        color: #FFF;
        margin-top: 20px;
        border-radius: 5px;
        font-weight: bold;
    }
}
