@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-component {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
    box-sizing: border-box;

    &.flex-center {
        @include flex-center;
    }

    .flex {
        display: flex;
    }
    .flex-center {
        @include flex-center;
    }

    .modal-dialog {
        width: 540px;
        text-align: center;
        background-color: #FFF;
        border-radius: 10px;
        overflow: hidden;

        .modal-title {
            font-size: 36px; /*!px*/
            color: #333;
            padding: 30px 30px 0;
        }

        .modal-body {
            padding: 30px 30px 40px;
            line-height: 1.5;
            font-size: 28px; /*!px*/
            color: #666;

            input.prompt-input {
                box-sizing: border-box;
                margin-top: 10px;
                width: 100%;
                border: 1px solid #CCC; /*!no*/
                height: 75px;
                border-radius: 6px;
                font-size: 28px; /*!px*/
                color: #666;
                text-align: center;
                outline: none;
                -webkit-appearance: none;
            }
        }

        .btn {
            flex: 1;
            line-height: 88px;
            color: #007aff;
            font-size: 32px; /*!px*/
            border-top: 1px solid #dadada; /*!no*/
            padding: 0;

            // Possible only has a button，don't use last-child selector
            &:nth-child(2) {
                border-left: 1px solid #dadada; /*!no*/
            }
        }
    }
}

.modal-enter {
    transform: scale(0.8);
}
.modal-enter-active {
    transition: transform 0.2s;
}
.modal-leave-active {
    opacity: 0;
}
.modal-leave-active {
    transition: opacity 0.2s;
}
